# -------- CUSTOM EXAMPLES --------
examples

# --------- PYTHON IGNORES --------
# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# pyenv
.python-version

# ------ ENVIRONMENT IGNORES -----
# Environments
.venv
venv*
venv.bak/
ENV/

# -------- VSCODE IGNORES ------
.vscode

# -------- MATLAB IGNORES -------
#Ignore autosaved, mex and simulink-generator of MATLAB
*.asv
*.mex*
slprj/

# Session info
octave-workspace

# Simulink autosave extension
.autosave